html {
    touch-action: manipulation;
  }
  
  .container {
    text-align: center;
  }
  .button{
    width: 170px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    background-color: #ddd;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
  }
  
  html, body, #wrapper{
    margin:0 auto;
    width: 80%;
    height: 80%;
  }

  .overlay {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    }

    #drawerNavi div.overlay-content {
        padding: 0;
        list-style: none;
        border: none;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 15%;
    }
    ul.overlay-content li {
        padding: 0;
    }
    .overlay-content li a {
        padding: 8px;
        text-decoration: none;
        font-size: 1.9rem;
        color: #707070;
        display: block;
        transition: 0.3s;
    }

    .overlay-content p, .overlay-content li a:focus {
    color: #f1f1f1;
    }

    /* close */
    #drawerClose {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    }
    #drawerClose:hover {
        opacity: 0.8;
    }

    .lineClose {
        display: inline-block;
        vertical-align: middle;
        color: #FFF;
        line-height: 1;
        width: 2.5rem;
        height: 0.2rem;
        background: currentColor;
        border-radius: 0.1rem;
        position: relative;
        transform: rotate(45deg);
    }
    .lineClose::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotate(90deg);
    }

    @media screen and (max-width: 767px) {
    .overlay-content li a {
        font-size: 1.7rem;
    }
    #drawerClose {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    }
  
  @media (max-width: 600px) {
    html {
      touch-action: manipulation;
    }
    
    .container {
      text-align: center;
    }
    .button{
      width: 170px;
      height: 45px;
      line-height: 45px;
      font-size: 20px;
      background-color: #ddd;
      font-weight: bold;
      cursor: pointer;
      user-select: none;
    }
    html, body, #wrapper{
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }
  }